<footer>
  <div class="flex flex-col bg-stone-200 gap-6">
    <!-- ACCORDION SM-->
    <div
      class="w-full mx-auto bg-zinc-800 mt-6 pb-5 text-stone-100 hidden sm:block"
    >
      <h2 class="w-11/12 mx-auto">
        <button
          class="flex py-4 px-6 w-full items-center"
          [ngClass]="{ 'active-accordion': accordionStates['nosotros'] }"
          (click)="toggleAccordion('nosotros')"
        >
          <span class="w-5/6 text-start font-semibold text-sm"
            >SOBRE NOSOTROS</span
          >
          <i
            class="fa-solid fa-plus w-1/6 text-end px-2"
            [class.hidden]="accordionStates['nosotros']"
          ></i>
          <i
            class="fa-solid fa-minus w-1/6 text-end px-2"
            [class.hidden]="!accordionStates['nosotros']"
          ></i>
        </button>
        <div *ngIf="accordionStates['nosotros']">
          <P class="pt-2 pb-6 px-8 text-xs"
            >¡Buena ropa a pequeños precios! Somos la cadena de tiendas con los
            mejores precios en prendas para mujeres, hombres y niños. Estamos en
            todo el Perú. ¡Compara nuestros precios!</P
          >
        </div>
      </h2>
      <hr class="w-10/12 mx-auto" />
      <h2 class="w-11/12 mx-auto">
        <button
          class="flex py-4 px-6 w-full items-center"
          [ngClass]="{ 'active-accordion': accordionStates['sumaq'] }"
          (click)="toggleAccordion('sumaq')"
        >
          <span class="w-5/6 text-start font-semibold text-sm">SUMAQ</span>
          <i
            class="fa-solid fa-plus w-1/6 text-end px-2"
            [class.hidden]="accordionStates['sumaq']"
          ></i>
          <i
            class="fa-solid fa-minus w-1/6 text-end px-2"
            [class.hidden]="!accordionStates['sumaq']"
          ></i>
        </button>
        <div *ngIf="accordionStates['sumaq']">
          <ul class="pt-2 pb-6 px-8 text-xs space-y-3">
            <li><a href="">Trabaja con nosotros</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Tiendas</a></li>
            <li><a href="">Contactanos</a></li>
          </ul>
        </div>
      </h2>
      <hr class="w-10/12 mx-auto" />
      <h2 class="w-11/12 mx-auto">
        <button
          class="flex py-4 px-6 w-full items-center"
          [ngClass]="{
            'active-accordion': accordionStates['atencionCliente']
          }"
          (click)="toggleAccordion('atencionCliente')"
        >
          <span class="w-5/6 text-start font-semibold text-sm"
            >ATENCION AL CLIENTE</span
          >
          <i
            class="fa-solid fa-plus w-1/6 text-end px-2"
            [class.hidden]="accordionStates['atencionCliente']"
          ></i>
          <i
            class="fa-solid fa-minus w-1/6 text-end px-2"
            [class.hidden]="!accordionStates['atencionCliente']"
          ></i>
        </button>
        <div *ngIf="accordionStates['atencionCliente']">
          <ul class="pt-2 pb-6 px-8 text-xs space-y-3">
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Terminos y Condiciones</a></li>
            <li><a href="">Cambios y devoluciones</a></li>
            <li><a href="">Política de envíos</a></li>
            <li class=""><a href="">Política de privacidad</a></li>
          </ul>
        </div>
      </h2>
      <hr class="w-10/12 mx-auto" />
      <h2 class="w-11/12 mx-auto">
        <button
          class="flex py-4 px-6 w-full items-center"
          [ngClass]="{
            'active-accordion': accordionStates['libroDeReclamaciones']
          }"
          (click)="toggleAccordion('libroDeReclamaciones')"
        >
          <span class="w-5/6 text-start font-semibold text-sm"
            >LIBRO DE RECLAMACIONES</span
          >
          <i
            class="fa-solid fa-plus w-1/6 text-end px-2"
            [class.hidden]="accordionStates['libroDeReclamaciones']"
          ></i>
          <i
            class="fa-solid fa-minus w-1/6 text-end px-2"
            [class.hidden]="!accordionStates['libroDeReclamaciones']"
          ></i>
        </button>
        <div *ngIf="accordionStates['libroDeReclamaciones']">
          <ul class="pt-2 pb-6 px-8 text-xs space-y-3">
            <li><a href="">Poner un reclamo</a></li>
          </ul>
        </div>
      </h2>
      <hr class="w-10/12 mx-auto" />
    </div>
    <!-- LISTAS-->
    <div class="bg-zinc-800 mt-6 text-stone-100 ">
      <div class="grid mx-auto grid-cols-3 gap-3 p-4 pb-6 sm:hidden lg:w-10/12 xl:w-9/12 custom:w-9/12">
        <div class="grid  col-span-3 text-center gap-2 mx-auto custom:w">
          <p class="font-medium">SOBRE NOSOTROS</p>
          <p class="p-4 text-xs">
            ¡Buena ropa a pequeños precios! Somos la cadena de tiendas con los
            mejores precios en prendas para mujeres, hombres y niños. Estamos en
            todo el Perú. ¡Compara nuestros precios!
          </p>
        </div>
        <hr class="col-span-3 border-stone-200" />
        <div class=" mx-auto">
          <p class="pb-4 font-medium">SUMAQ</p>
          <ul class="text-xs space-y-2">
            <li><a href="">Trabaja con nosotros</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Tiendas</a></li>
            <li><a href="">Contactanos</a></li>
          </ul>
        </div>
        <div class="mx-auto">
          <p class="pb-4 font-medium">ATENCION AL CLIENTE</p>
          <ul class="text-xs space-y-2">
            <li><a href="">Preguntas Frecuentes</a></li>
            <li><a href="">Terminos y Condiciones</a></li>
            <li><a href="">Cambios y devoluciones</a></li>
            <li><a href="">Política de envíos</a></li>
            <li class=""><a href="">Política de privacidad</a></li>
          </ul>
        </div>
        <div class=" mx-auto">
          <p
            class="pb-4 font-medium lg:text-center xl:text-center custom:text-center"
          >
            LIBRO DE RECLAMACIONES
          </p>
          <ul
            class="text-xs space-y-2 lg:flex lg:justify-center xl:flex xl:justify-center custom:flex custom:justify-center"
          >
            <a href=""
              ><img
                class="w-32"
                src="../../../../../assets/images/libro.png"
                alt=""
            /></a>
          </ul>
        </div>
      </div>
    </div>
    <hr class="w-11/12 mx-auto border border-stone-300" />
    <!-- REDES SOCIALES -->
    <div class="flex flex-col justify-center gap-2">
      <h3 class="text-center text-md font-semibold">Síguenos en</h3>
      <div class="flex justify-center gap-6">
        <a href=""><i class="fa-brands fa-facebook text-3xl"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram text-3xl"></i></a>
        <a href=""><i class="fa-brands fa-tiktok text-3xl"></i></a>
      </div>
    </div>
    <hr class="w-11/12 mx-auto border border-stone-300" />
    <!-- DATOS DE LA EMPRESA -->
    <div class="text-center text-sm font-medium">
      <p>Razón Social: Sumaq Style S.A</p>
      <p>RUC:123456789</p>
      <p>Direccion: Av.Ica Galeria Industriales Wankas</p>
    </div>
    <hr class="w-11/12 mx-auto border border-stone-300" />
    <!-- DERECHOS RESERVADOS -->
    <div class="bg-black text-stone-50 py-3 px-3 text-center mb-4">
      <p>Sumaq Style 2024 © Todos los derechos reservados</p>
    </div>
  </div>
</footer>
