<footer>
  <div class="flex flex-col bg-stone-200 gap-6">
    <!-- ACCORDION SM-->
    <div
      class="w-full mx-auto bg-zinc-800 mt-6 pb-5 text-stone-100 hidden sm:block"
    >
      <app-accordion-item
        [title]="'SOBRE NOSOTROS'"
        [itemsText]="
          '¡Buena ropa a pequeños precios! Somos la cadena de tiendas con los mejores precios en prendas para mujeres, hombres y niños. Estamos en todo el Perú. ¡Compara nuestros precios!'
        "
        [isList]="false"
        (click)="toggleAccordion('SOBRE NOSOTROS')"
        [isOpen]="openAccordion === 'SOBRE NOSOTROS'"

      >
      </app-accordion-item>
      <hr class="w-10/12 mx-auto" />
      <app-accordion-item
        [title]="'SUMAQ'"
        [itemsList]="[
          'Trabaja con nosotros',
          'Nosotros',
          'Tiendas',
          'Contactanos'
        ]"
        (click)="toggleAccordion('SUMAQ')"
        [isOpen]="openAccordion === 'SUMAQ'"
      ></app-accordion-item>
      <hr class="w-10/12 mx-auto" />
      <app-accordion-item
        [title]="'ATENCION AL CLIENTE'"
        [itemsList]="[
          'Preguntas Frecuentes',
          'Terminos y Condiciones',
          'Cambios y devoluciones',
          'Política de envíos',
          'Política de privacidad'
        ]"
        (click)="toggleAccordion('ATENCION AL CLIENTE')"
        [isOpen]="openAccordion === 'ATENCION AL CLIENTE'"
      ></app-accordion-item>
      <hr class="w-10/12 mx-auto" />
      <app-accordion-item
        [title]="'LIBRO DE RECLAMACIONES'"
        [itemsList]="['Poner un reclamo']"
        (click)="toggleAccordion('LIBRO DE RECLAMACIONES')"
        [isOpen]="openAccordion === 'LIBRO DE RECLAMACIONES'"
      ></app-accordion-item>

      <hr class="w-10/12 mx-auto" />
    </div>
    <!-- LISTAS-->
    <div class="bg-zinc-800 mt-6 text-stone-100">
      <div
        class="grid mx-auto grid-cols-3 gap-3 p-4 pb-6 sm:hidden lg:w-10/12 xl:w-9/12 custom:w-9/12"
      >
        <app-info-section
          [classList]="'grid col-span-3 text-center gap-2'"
          title="SOBRE NOSOTROS"
          paragraphText="¡Buena ropa a pequeños precios! Somos la cadena de tiendas con los mejores precios en prendas para mujeres, hombres y niños. Estamos en todo el Perú. ¡Compara nuestros precios!"
        ></app-info-section>
        <hr class="col-span-3 border-stone-200" />
        <app-info-section
          title="SUMAQ"
          [links]="[
            'Trabaja con nosotros',
            'Nosotros',
            'Tiendas',
            'Contactanos'
          ]"
        ></app-info-section>
        <app-info-section
          title="ATENCION AL CLIENTE"
          [links]="[
            'Preguntas Frecuentes',
            'Terminos y Condiciones',
            'Cambios y devoluciones',
            'Política de envíos',
            'Política de privacidad'
          ]"
        ></app-info-section>
        <app-info-section
          [classList]="'lg:text-center xl:text-center custom:text-center'"
          imageAlt="Libro de reclamaciones"
          imageUrl="/assets/images/libro.png"
          title="LIBRO DE RECLAMACIONES"
        ></app-info-section>
      </div>
    </div>
    <hr class="w-11/12 mx-auto border border-stone-300" />
    <!-- REDES SOCIALES -->
    <div class="flex flex-col justify-center gap-2">
      <h3 class="text-center text-md font-semibold">Síguenos en</h3>
      <div class="flex justify-center gap-6">
        <a href=""><i class="fa-brands fa-facebook text-3xl"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram text-3xl"></i></a>
        <a href=""><i class="fa-brands fa-tiktok text-3xl"></i></a>
      </div>
    </div>
    <hr class="w-11/12 mx-auto border border-stone-300" />
    <!-- DATOS DE LA EMPRESA -->
    <div class="text-center text-sm font-medium">
      <p>Razón Social: Sumaq Style S.A</p>
      <p>RUC:123456789</p>
      <p>Direccion: Av.Ica Galeria Industriales Wankas</p>
    </div>
    <hr class="w-11/12 mx-auto border border-stone-300" />
    <!-- DERECHOS RESERVADOS -->
    <div class="bg-black text-stone-50 py-3 px-3 text-center mb-4">
      <p>Sumaq Style 2024 © Todos los derechos reservados</p>
    </div>
  </div>
</footer>
<!-- 195 -->
